.panel-register {
	display: none;
}

.reply-customer, .reply-staff {
	padding: 10px;
	margin-bottom: 5px;
}

.reply-customer {
	background-color: #f4f4f4;
}

.reply-staff {
	background-color: lightyellow;
}

.user-color-staff {
	color: red;
}

.user-color-customer {
	color: blue;
}